svg text {
    font-family: Helvetica, sans-serif;
    dominant-baseline: middle;
    text-anchor: middle;
}

svg text.result {
    fill: #00f;
}

svg path {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

svg path.chosen {
    stroke: #00f;
}
